body {
  background-color: #9266ff;
}
.App {
  background-color: rgb(41, 97, 88);
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
h1 {
  padding: 2px 85px;
  border-bottom: grey 5px solid;
}

#employee-form input {
  background-color: rgba(27, 112, 137, 1);
  border: 0;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 5px 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#employee-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#employee-form input:focus {
  outline: none;
}
#employee-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(202, 156, 24, 1);
  cursor: pointer;
}
#employee-form button:focus {
  outline: none;
}
